<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.delivery">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Delivery"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Configurações fornecidas -->
        <activity
            android:name="com.paypal.pyplcheckout.home.view.activities.PYPLInitiateCheckoutActivity"
            android:exported="true">

            <!-- outras configurações da atividade -->
        </activity>
        <activity
            android:name="com.paypal.openid.RedirectUriReceiverActivity"
            android:exported="true">

            <!-- outras configurações da atividade -->
        </activity>

        <activity
            android:name=".activities.client.payments.paypal.status.ClientPaymentsPaypalStatusActivity"
            android:exported="false" />

        <activity
            android:name=".activities.client.payments.paypal.form.ClientPaymentsPaypalFormActivity"
            android:parentActivityName=".activities.client.payments.payment_method.ClientPaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.payments.payment_method.ClientPaymentMethodActivity"
            android:parentActivityName=".activities.client.address.list.ClientAddressListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.payments.mercadopago.status.ClientPaymentsStatusActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.payments.mercadopago.installments.ClientPaymentInstallmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.orders.map.ClientOrdersMapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.delivery.orders.map.DeliveryOrdersMapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.delivery.orders.detail.DeliveryOrdersDetailActivity"
            android:exported="false"
            android:parentActivityName=".activities.delivery.home.DeliveryHomeActivity" />
        <activity
            android:name=".activities.restaurant.orders.detail.RestaurantOrdersDetailActivity"
            android:exported="false"
            android:parentActivityName=".activities.restaurant.home.RestaurantHomeActivity" />
        <activity
            android:name=".activities.client.orders.detail.ClientOrdersDetailActivity"
            android:exported="false"
            android:parentActivityName=".activities.client.home.ClientHomeActivity" />
        <activity
            android:name=".activities.client.payments.mercadopago.forms.ClientPaymentsFormsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.address.map.ClientAddressMapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.address.create.ClientAddressCreateActivity"
            android:exported="false"
            android:parentActivityName=".activities.client.address.list.ClientAddressListActivity" />
        <activity
            android:name=".activities.client.address.list.ClientAddressListActivity"
            android:exported="false"
            android:parentActivityName=".activities.client.shopping_bag.ClientShoppingBagActivity" />
        <activity
            android:name=".activities.client.shopping_bag.ClientShoppingBagActivity"
            android:exported="false"
            android:parentActivityName=".activities.client.home.ClientHomeActivity" />
        <activity
            android:name=".activities.client.products.detail.ClientProductsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.products.list.ClientProductsListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.update.ClientUpdateActivity"
            android:exported="false"
            android:parentActivityName=".activities.client.home.ClientHomeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.SaveImageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.delivery.home.DeliveryHomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.restaurant.home.RestaurantHomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.SelectRoleActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.client.home.ClientHomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBhRT9aDdHhYyQvfcPBrNxA0Ak2SO0S9ko" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".service.MyFirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>